---
import Icons from "../../components/Icons.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="contact me">
  <section class="h-screen w-screen  flex flex-col justify-center items-center">
    <div class="mt-16 px-8">
      <h1 class="font-serif text-6xl text-slate-950 xs:text-4xl  max-[320px]:text-3xl">
        Want to contact Me? 
      </h1>
      <p class="font-serif text-gray-400">Here is how:</p>
    </div>
    <Icons />
  </section>
</Layout>