---
import CardWrapper from "../CardWrapper.astro"
---
<section class="flex justify-between items-center  max-md:flex-col w-full max-w-[50rem] mt-4">
<CardWrapper className="flex flex-col justify-start items-start gap-4">
  <h2 class="text-2xl font-bold leading-6">About Me</h2>
  <span class="text-black/80 text-sm">Hi, I'm Sara – no 'H' at the end. <br />
    I'm a web developer with an electrical engineering background. I enjoy building things on both the front and back ends, taking on challenges, and turning my ideas into real projects, whether they're small or big. Even though I've been in the industry for a short time, I've learned a lot and created some cool stuff. I like working with JavaScript frameworks like Vue and Astro, but I'm open to trying out different technologies. I'm a quick learner and always curious to learn more and get involved in projects.</span>
</CardWrapper>
</section>