---
import CardWrapper from "../CardWrapper.astro";
import { Card, CardSkeletonContainer, CardTitle, CardDescription } from "../ui/AnimatedCard";
---

<div class="flex justify-between items-center  max-md:flex-col w-full max-w-[50rem] mt-4">
  <CardWrapper>
    <Card className=" bg-transparent w-full h-full">
      <CardTitle className={`text-2xl`}> About Me </CardTitle>
      <CardDescription>
        I'm a web developer with an electrical engineering background. I enjoy building things on both the front and
        back ends, taking on challenges, and turning my ideas into real projects, whether they're small or big. Even
        though I've been in the industry for a short time, I've learned a lot and created some cool stuff. I like
        working with JavaScript frameworks like Vue and Astro, but I'm open to trying out different technologies. I'm a
        quick learner and always curious to learn more and get involved in projects.
      </CardDescription>
    </Card>
  </CardWrapper>
</div>
