---
import CardWrapper from "../CardWrapper.astro";
import { Card,CardTitle, CardDescription } from "../ui/AnimatedCard";
---
<div class="mt-4 w-full max-w-200 ">
  <CardWrapper className="">
    <Card className="bg-transparent">
      <CardTitle>
        Professional experience
      </CardTitle>
      <CardDescription>
                <div class="w-full">
          <ul class="flex items-center justify-between contrast-50">
            <li>
              - Independent Contractor
            </li>
            <li>
              <time datetime="2024-04">April 2025</time> - Present
            </li>
          </ul>
          <p class="p-4 w-full max-w-full">
            Torolololo
          </p>
        </div>
        <div class="w-full">
          <ul class="flex items-center justify-between contrast-50">
            <li>
              - Career Break (Job Hunting)
            </li>
            <li>
              <time datetime="2025-02">February 2025</time> - November 2025
            </li>
          </ul>
          <p class="p-4 w-full max-w-full">
            Relocation and exploring work ventures, traveled above and beyond in Germany.
          </p>
        </div>
        <div>
          <ul class="flex items-center justify-between contrast-50">
            <li>
              - Full stack developer <span class="text-blue-900">@Clarity TXT inc</span>
            </li>
            <li>
              <time datetime="2024-11">November 2024</time> - <time datetime="2025-02">February 2025</time>
            </li>
          </ul>
          <p class="p-4">
            worked with convex.dev, TypeScript, React, Next.js, clerk, to create a Real time chat application.
          </p>
        </div>
        <div>
          <ul class="flex items-center justify-between contrast-50">
            <li>
              - Full stack developer <span class="text-[#e61b38]">@Storyme</span>
            </li>
            <li>
              <time datetime="2023-10">October 2023</time> - <time datetime="2024-01">January 2024</time>
            </li>
          </ul>
          <p class="p-4">
            Worked with TypeScript and react on creating a Website builder
          </p>
        </div>
      </CardDescription>
    </Card>
  </CardWrapper>
</div>