---
import { Octokit } from "@octokit/core";
import CardWrapper from "../CardWrapper.astro";
import { Card,CardTitle } from "../ui/AnimatedCard";
import {HoverEffect} from "../ui/HoverEffect"

interface ProjectType {
  name: string;
  description: string;
  url: string;
}
const query = `
  query {
    user(login: "saranatour1") {
      pinnedItems(first: 6, types: REPOSITORY) {
        nodes {
          ... on Repository {
            name
            description
            url
          }
        }
      }
    }
  }
`;

const octokit = new Octokit({
  auth: import.meta.env.GITHUB_TOKEN,
});

const response = await octokit.graphql(query, {
  baseUrl: "https://api.github.com",
  headers: {
    authorization: `token ${import.meta.env.GITHUB_TOKEN}`,
  },
});

const pinnedItems: ProjectType[] = (response as any).user.pinnedItems.nodes;
---

<section class="mt-4 w-full max-w-[50rem]">
  {!pinnedItems && <span>loading</span>}
    <Card className="bg-transparent border-blue-1 p-8">
      <CardTitle className="text-2xl font-bold leading-6 ">Cool things</CardTitle>
        <HoverEffect items={pinnedItems}/>
    </Card>
</section>
