---
import CardWrapper from "../CardWrapper.astro";
const skillSet = [
  {
    name: 'JavaScript',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg',
    link: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript'
  },
  {
    name: 'TypeScript',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/typescript-colored.svg',
    link: 'https://www.typescriptlang.org/'
  },
  {
    name: 'Python',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/python-colored.svg',
    link: 'https://www.python.org/'
  },
  {
    name: 'Java',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/java-colored.svg',
    link: 'https://www.oracle.com/java/'
  },
  {
    name: 'Git',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/git-colored.svg',
    link: 'https://git-scm.com/'
  },
  {
    name: 'React',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/react-colored.svg',
    link: 'https://reactjs.org/'
  },
  {
    name: 'TailwindCSS',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/tailwindcss-colored.svg',
    link: 'https://tailwindcss.com/'
  },
  {
    name: 'Bootstrap',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/bootstrap-colored.svg',
    link: 'https://getbootstrap.com/'
  },
  {
    name: 'NodeJS',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nodejs-colored.svg',
    link: 'https://nodejs.org/en/'
  },
  {
    name: 'MongoDB',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mongodb-colored.svg',
    link: 'https://www.mongodb.com/'
  },
  {
    name: 'MySQL',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mysql-colored.svg',
    link: 'https://www.mysql.com/'
  },
  {
    name: 'Flask',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/flask-colored.svg',
    link: 'https://flask.palletsprojects.com/en/2.0.x/'
  },
  {
    name: 'Django',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/django-colored.svg',
    link: 'https://www.djangoproject.com/'
  },
  {
    name: 'Svelte',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/svelte-colored.svg',
    link: 'https://svelte.dev/'
  },
  {
    name: 'VueJS',
    icon: 'https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/vuejs-colored.svg',
    link: 'https://vuejs.org/'
  },
];

---
<section class="flex justify-between items-center  max-md:flex-col  w-full max-w-[50rem]">
  <CardWrapper className="mt-4 flex flex-col justify-start items-start flex-wrap">
    <h3 class="text-2xl font-bold">Skills</h3>
    <ul class="grid w-full grid-rows-4 grid-cols-4 gap-4 max-md:grid-cols-2 max-sm:grid-cols-1 max-sm:grid-rows-1">
      {skillSet.map((item,index)=> 
      <li class="p-4 flex justify-start items-center border border-blue-1/50 hover:border-blue-1 cursor-pointer rounded w-full">
        <a href={item.link} class="flex items-center justify-between w-full"> 
          <span>{item.name}</span>
          <img width={24} height={24} src={item.icon} alt={item.name} />
          </a>
        </li>)}
    </ul>
  </CardWrapper>
</section>