---
import BaseHead from '../components/BaseHead.astro';
import Card from '../components/Card.astro';

import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
---
<Layout>
		<main class="w-full h-screen max-w-full min-h-[70%]   flex flex-col items-center justify-center">
			<Card/>
		</main>
</Layout>
