---
import Contact from '../components/Contact.astro';
import Layout from '../layouts/Layout.astro';

---


<Layout title="Sara's Page">
	<main class="flex items-center justify-center h-screen">
			<Contact />
	</main>

</Layout>


