---
import FirstSection from "../components/sections/FirstSection.astro";
import OverView from "../components/sections/OverView.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
import ProfessionalExperience from "../components/sections/ProfessionalExperience.astro"
import ProjectLinks from "../components/sections/ProjectLinks.astro"
import Contact from "../components/sections/Contact.astro";
---
<Layout title={SITE_TITLE} descreption={SITE_DESCRIPTION}>
  <main>
    <FirstSection />
    <OverView />
    <Contact />
    <ProfessionalExperience />
    <Skills />
    <Projects />
    <ProjectLinks />
  </main>
</Layout>
