---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Services" description="Services offered by Sara Natour">
+  <main>
+    <p>
+      I am still thinking how do I want to implement this page.
+      <a href="mailto:reach@saranatour.dev">email me :)!</a>
+    </p>
+  </main>
 </Layout>