---
import Button from "./Button.astro";
---

<div class="flex flex-col items-center justify-between w-full max-w-[64rem] mx-auto mt-4">
  <p
    class="font-code text-base leading-[26px] text-base-grey text-wrap py-8 flex flex-col justify-start items-start w-full max-w-[35rem] gap-4 self-start"
  >
    <span>
      Hi, I'm Sara – no 'H' at the end. <br/> I'm a web developer with an electrical engineering background. I enjoy
      building things on both the front and back ends, taking on challenges, and turning my ideas into real projects,
      whether they're small or big.
    </span>
    <span>
      Even though I've been in the industry for a short time, I've learned a lot and created some cool stuff. I like
      working with JavaScript frameworks like Vue and Astro, but I'm open to trying out different technologies. I'm a
      quick learner and always curious to learn more and get involved in projects.
    </span>
    
    <Button href="/about">Read more -></Button>
  </p>
</div>