---
  import LandMark from "./Icons/LandMark.astro";
---
<script defer>
  document.addEventListener('DOMContentLoaded', () => {
    const timeDisplay = document.getElementById('time-display');
    let timeInterval;

    function updateCurrentTime() {
      let currentTime = new Date().toLocaleString('en-US', { timeZone: 'Asia/Jerusalem' });
      if (timeDisplay) {
        timeDisplay.textContent = currentTime;
        timeInterval = setInterval(() => {
          currentTime = new Date().toLocaleString('en-US', { timeZone: 'Asia/Jerusalem' });
          timeDisplay.innerHTML = `${currentTime}`;
        }, 1000);
      }
    }

    function clearTimeInterval() {
      clearInterval(timeInterval);
    }

    updateCurrentTime();
    document.addEventListener('beforeunload', clearTimeInterval);
  });
</script>


<div class=" w-full h-auto max-w-[30rem] max-md:max-md-[calc(100%-1rem)] max-sm:max-w-[calc(100%-4rem)] p-12 border border-gray-400 rounded-lg flex flex-col justify-start gap-y-2 items-start bg-slate-50/5">
  <div class="flex items-center justify-between w-full max-md:flex-col  max-md:items-start">
    <span class=" block">
      <h1 class=" text-3xl font-medium">Sara Natour</h1>
      <small class=" text-sm"> Developer & Engineer</small>
    </span>
    <span class=" flex flex-col justify-start items-start">
      <span class=" flex items-center justify-between">
        <LandMark /> <span class="pt-2"> Palestine</span> <span  class=" sr-only">I am currently located in Palestine.</span>
      </span>
      <span  class="block" id="time-display" />
    </span>
  </div>
  <p class="text-sm text-slate-950 ">
    <span>
      Hi, I'm Sara – no 'H' at the end. <br /> I'm a web developer with an electrical engineering background. I enjoy building
      things on both the front and back ends, taking on challenges, and turning my ideas into real projects, whether they're
      small or big.
    </span>
    <span>
      Even though I've been in the industry for a short time, I've learned a lot and created some cool stuff. I like
      working with JavaScript frameworks like Vue and Astro, but I'm open to trying out different technologies. I'm a
      quick learner and always curious to learn more and get involved in projects.
    </span>
  </p>
</div>