
<div class="flex flex-col items-center justify-center w-screen h-screen">
  <h1 class=" text-4xl text font-serif">
    Coming Soon &#x1F6A7; &#x1F6E0; 
  </h1>
  <p>Want to go back to the main Page? <a href="/" class=" hover:text-teal-300">click here</a></p>
</div>