---
import Icons from "./Icons.astro";
import TypeWriter from "./TypeWriter.svelte";


---


<section class=" w-screen h-screen">
    <div class="flex flex-col justify-center items-center h-screen gap-5 ">
      <hgroup class="px-8 text-center">
        <h1 class=" 2xl:text-6xl text-4xl   xs:text-5xl mt-16 font-extrabold font-serif text-zinc-950">
          Hello There!
        </h1>
        <p class="font-serif  text-xl   text-slate-900 break-words text-center">
          I am  <TypeWriter  client:only="svelte"/>
  
        </p>
      </hgroup>
        <Icons /> 


    </div>
</section>
