<!-- write TypeScript here-->

---
//write TypeScript in here
// Lets worry about the functionality later and do more styling and configurations?

---

<header>

    <div>
      Logo here
    </div>

    <div>
      <ul>
        <li>projects</li>
        <li>about</li>
        <li>blogs</li>
        <li>contact</li>
      </ul>
    </div>
    
    <div>
      <button> Hire Me</button>
    </div>


</header>