---
import {Icon} from 'astro-icon'
---
<div class="flex justify-evenly w-16 items-end h-20">

  <!-- Uses the linkedIn from `/src/icons/filename.svg` -->
 <a href="https://www.linkedin.com/in/saranatour/" target="_blank"><Icon name="mdi:linkedin" /></a> 
 <a href="https://github.com/saranatour1" target="_blank"><Icon name="mdi:github" /></a> 

</div>

<style lang="css">
  [astro-icon] {
      color: rgb(15 23 42);
      /* OR */
      fill: blue;
      width: 4.5rem;
  }
  [astro-icon="annotation"] {
      color: red;
      /* OR */
      fill: red;
  }
</style>