
<main class=" transition-all hover:from-[#12183e] hover:via-[#0a66c2] hover:to-[#2e375f] duration-500 ease-in-out border-[#292a50] border-2 rounded-lg flex flex-col justify-center items-center p-8 font-mono w-full max-md:w-11/12 ">
  <hgroup class=" leading-snug w-full max-w-xl text-center">
    <h3 class=" text-[#eff0f0] font-bold text-3xl my-3 ">
      Hello, <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">This site is under construction</span>
    </h3>
    <p class="  text-gray-500 dark:text-gray-400 my-3  ">
      My name is Sara, And I am a JavaScript/TypeScript Full-Stack developer, This website is currently under development, <span class=" text-indigo-300">and it will always be.</span>
    </p>
    <p class=" text-gray-500 dark:text-gray-400  my-3">Want to find me? feel free to contact me on <a class="text-[#0a66c2] transition-colors hover:text-red-500" href="https://www.linkedin.com/in/saranatour/" target="_blank">linkedIn</a></p>
  </hgroup>

</main>

<style> 

  main {
    margin: 0 auto;

    transition: all 0.3s ease-in-out;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.07));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
  }

  main:hover{
    border: 1px solid red;
    /* transform: scale(1.1); */
  }
</style>