---
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<hgroup class=" flex flex-col justify-start items-start gap-2">
  <h3 class="font-code text-tag-purple  font-normal text-3xl">
    /<span class=" text-white font-bold">{title}</span>
  </h3>
  <p class=" text-white font-code text-sm font-extralight">{desc}</p>
</hgroup>
