---

---

<section class="w-full h-full max-w-[64rem] min-h-full flex flex-col justify-center items-center mt-44 mx-auto">
  <h1 class="font-code font-normal text-3xl text-white flex flex-col justify-between items-center text-center">
    Hello There &#x1F44B;
    <span class="text-lg text-white mt-2">
      I'm Sara, <span class="text-tag-purple">A Developer with an engineering background</span>
    </span>
  </h1>
</section>
