---
import Layout from "../../layouts/Layout.astro";
import Projects from "./Projects.mdx";

---

<Layout title="Projects Page">
  <article class=" container mt-16 py-16 prose prose-slate 2xl:prose-lg lg:prose-lg md:prose-md sm:prose-sm xs:prose-sm px-5 h-full font-serif prose-headings:my-1 text-justify prose-p:m-0 prose-p:py-2 prose-p:indent-4 overflow-scroll prose-img:flex prose-img:items-center prose-img:justify-center prose-img:w-4/6 prose-table:h-full  prose-table:flex prose-table:items-center prose-table:justify-center prose-td:text-center prose-table:flex-col prose-table:w-min scroll-smooth ">
    <Projects/>
  </article>
  </section>
</Layout>