@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400;900&display=swap");

* {
  font-family: "Source Serif Pro", serif;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

:root {
  --nav-bar: #ffe9ce;
  --links: #1a0e08;
  --links-on-hover: #392a23;
  --nav-btn: #dcdddf;

  --background-color: #fce9cc;

  --h1-color: #2a1407;
  --muted-text: #42251490;

  --btn-bg: #120502;
  --btn-txt: #ffe09d;
  --card-bg: #fff6e169;
}

/* nav bar start */

.navbar {
  background-color: var(--nav-bar);
}
.nav-link {
  color: var(--links) !important;
  font-size: 18px;
  font-weight: 500;
}
.nav-link:hover {
  /* filter: brightness(140%) !important; */
  color: var(--links-on-hover) !important;
}

.navbar-toggler {
  color: var(--links);
  border: 1px solid #dcdddf;
}

/* nav bar end */

/* Hero section start */

body {
  background-color: var(--background-color);
  /* width: 100vw; */
}

h1.mt-5 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  color: var(--h1-color);
  letter-spacing: 3px;
}

p.blockquote.text-muted.text-wrap.w-90 {
  color: var(--muted-text) !important;
  text-overflow: clip;
  line-height: 1.5 !important;
  hyphens: auto;
  word-break: keep-all;
  text-align: justify;
}

button.btn.btn-primary.rounded-pill.px-3.py-2 {
  background-color: var(--h1-color);
  color: var(--btn-txt);
  cursor: pointer;
  font-size: 16px !important;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #1a0e08;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  filter: brightness(80%);
}
/* hero section end */

/* About me */

h2.text-center.my-3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  color: var(--h1-color);
  letter-spacing: 1px;
}

p.text-start.p-3.blockquote,
p {
  color: var(--h1-color) !important;
  text-overflow: clip;
  line-height: 1.5 !important;
  hyphens: auto;
  word-break: keep-all;
  text-align: justify;
}
hr {
  color: var(--btn-bg);
}

h3.text-center ,.text-center.my-2 {
  text-transform: capitalize;
  font-size: 33px;
  font-weight: 700;
  color: var(--h1-color);
  letter-spacing: 1px;
}

.card {
  background-color: var(--card-bg);
  color: var(--h1-color);
}

.form-control,input{
  background-color: var(--background-color);
}

input:focus{
  background-color: var(--background-color) !important;
}

h4.text-center.my-3 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
  color: var(--h1-color);
  letter-spacing: 1px;
}

p.text-muted {
  color: var(--h1-color) !important;
  text-overflow: clip;
  line-height: 1.5 !important;
  hyphens: auto;
  /* word-break:break-all; */
  text-align: justify !important;
}

a.btn.btn-link.btn-lg  {
  color: var(--h1-color);
  font-size: 70px;
}
p.text-center.x {
  color: var(--h1-color);
  font-size: 20px;
  font-weight: 600;
}

h5 {
  text-transform: capitalize !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  color: var(--h1-color) !important;
  letter-spacing: -1px !important;
}

li.nav-link.p-0.text-muted {
  color: var(--muted-text) !important;
  text-overflow: clip;
  line-height: 1.5 !important;

}

p.p-3.blockquote.w-90.text-center.mx-auto.my-1{
 
  color: var(--links-on-hover) !important;
  text-overflow: clip;
  line-height: 2.5 !important;
  hyphens: auto;
  word-break: keep-all;
  text-align: justify;
}

.text-wrap.w-90.text-start.blockquote{
  color: var(--h1-color) !important;
  text-overflow: clip;
  line-height: 1.8 !important;
}

p.mb-0{

  text-indent: 1em !important;
  margin-top: 0;
  margin-bottom: 0; 
  line-height: 2.4 !important;

}
.btn.btn-lg.btn-primary.rounded-pill.px-5.py-2.d-flex.align-items-center ,.btn.btn-primary {
  background-color: var(--h1-color) !important;
  color: var(--btn-txt) !important;
  cursor: pointer;
  font-size: 16px !important;
  text-transform: capitalize;
  text-align: center;
}
